/*
Theme Name: P2
Theme URI: http://p2theme.com/
Author: Automattic
Author URI: http://automattic.com/
Description: A group blog theme for short update messages, inspired by Twitter. Featuring: Hassle-free posting from the front page. Perfect for group blogging, or as a liveblog theme. Dynamic page updates. Threaded comment display on the front page. In-line editing for posts and comments. Live tag suggestion based on previously used tags. A show/hide feature for comments, to keep things tidy. Real-time notifications when a new comment or update is posted. Super-handy keyboard shortcuts. Helvetica Neue for you modern font lovers.
Version: 1.3.4-wpcom
Tags: blue, two-columns, fixed-width, rtl-language-support, right-sidebar, white, light, front-page-post-form, translation-ready, blog, education, lifestream, productivity, clean, corporate, geometric, light, minimal, modern
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* The Reset ---------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,
h6,pre,form,fieldset,input,p,blockquote,table,
th,td { margin: 0; padding: 0; }
fieldset,img { border: 0; }
abbr { border-bottom: 1px dotted #555; cursor: help; outline: none; }
address,caption,code,dfn,h1,h2,h3,h4,h5,h6,th,var { font-style: normal; font-weight: normal; }
caption,th { text-align: left; }
q:before,q:after { content: ''; }
a { text-decoration: none; }
/* -------------------------------------------- */

h1 a:hover {
	border: none;
}
a:hover {
	border-bottom: solid;
	border-width: 1px;
}
acronym {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	cursor: help;
}
dd {
	margin-left: 2em;
}
pre, code {
	overflow: auto;
}
#header {
	min-height: 120px;
}
#header .sleeve {
	display: inline-block;
	margin-top: 40px;
}
h1 {
	display: inline-block;
	padding: 8px 10px;
}
blockquote {
	padding-left: 8px;
	color: #888;
	background: #f1f1f1;
	padding: 2px 12px;
}
blockquote + blockquote {
	margin-top: 10px;
}
.category-quote blockquote,
.format-quote blockquote {
	margin-bottom: 8px;
	background: transparent;
	padding: 0;
}
.category-quote blockquote p,
.format-quote blockquote p {
	padding: 10px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.category-link .postcontent p,
.format-link .postcontent p {
	background: #e4f2fd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	font-size: 1.2em !important;
	padding: 10px;
}
#header small {
	display: block;
	clear: both;
	margin-top: -3px;
	padding: 0 12px 12px 12px;
}
#header .sleeve, #wrapper, #footer {
	border: 0;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#header {
	width: 980px;
	margin: 0 auto;
}
#footer {
	border: solid;
	border-width: 1px;
	clear: both;
	margin: 20px auto 0;
	width: 978px;
}
#footer p {
	margin: 10px 15px;
}
#wrapper {
	/* this is #sidebar bg */
	border: solid;
	border-width: 1px;
	width: 978px;
	margin: 0 auto;
	position: relative;
	margin-top: 20px;
	overflow: hidden;
}
#wrapper button, #wrapper input[type="submit"] {
	border: solid;
	border-width: 1px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 12px;
	height: 28px;
	padding: 0 10px;
}
#main button {
	margin: 10px 10px 0 0;
}
.sleeve_main {
	width: auto;
}
#postbox {
	background: url(i/white-93.png);
	position: relative;
	padding: 16px 15px 16px 14px;
}
#postbox .avatar {
	margin-top: 16px;
	float: left;
	border: 0;
}
#postbox .avatar img {
	padding: 0;
	border: solid;
	border-width: 1px;
}
#postbox .inputarea {
	padding-left: 60px;
	height: 100%;
}
.inputarea .post-input {
	display: none;
}
.inputarea .selected {
	display: block;
}
#postbox textarea#posttext,
textarea.posttext {
	border: solid;
	border-width: 1px;
	font-size: 13px;
	margin-bottom: 6px;
	max-width: 97.6%;
	padding: 5px 7px;
	width: 97.6%;
	height: 4em;
}
#wrapper form input[type="text"],
.inlineediting input[type="text"] {
	border: solid;
	border-width: 1px;
	padding: 5px 7px;
}
.inlineediting input[type="text"] {
	width: 97.6%;
}
form#new_post {
	margin-top: 20px;
}
#postbox label {
	display: block;
	font-weight: normal;
	font-size: 1.6em;
	/*margin-bottom: 6px;*/
}
#postbox input#tags {
	width: 75%;
	float: left;
}
.inlineediting input.tags {
	width: 60%;
}
#postbox input#submit {
	margin-left: 6px;
	padding: 0 20px;
	float: right;
}
#postbox .postrow {
	height: 28px;
}
#postbox .avatar {
	margin-top: 18px;
}
#media-buttons {
	line-height: 22px;
	float: right;
}
#media-buttons a img {
	margin: 0 1px -2px;
}
#postbox input#posttitle,
#postbox input#postcitation {
	width: 97.6%;
	margin-bottom: 5px;
}
.disabled, .disabled:hover {
	border: solid;
	border-width: 1px;
}
#respond #submit, input#comment-submit {
	width: auto;
}
input#comment-submit {
	clear: both;
}
#main ul#postlist {
	list-style: none;
	margin-top: 16px;
	margin-left: 0;
}
h2 {
	position: relative;
}
#main {
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 10px;
	position: relative;
}
.single #main {
	padding-top: 18px;
}
#main .wp-smiley {
	border: none;
}
#main h2 {
	padding-top: 10px;
	padding-bottom: 5px;
	line-height: 1.1em;
}
#main .controls {
	right: 0;
	position: absolute;
}
.single #main .controls {
position: static;
}
#main .transparent-title {
	text-indent: -1000em;
	height: 0;
	line-height: 0;
	font-size: 0;
	padding: 0;
	margin: 0;
}
#main .post h2 {
	margin: 0 0 15px;
}
#main img.avatar {
	float: left;
	margin-right: 10px;
	border: solid;
	border-width: 1px;
	margin-top: 0;
}
#main ul#postlist li {
	overflow: visible;
	border-top-style: solid;
	border-top-width: 1px;
	padding: 14px 0 0;
}
#main ul#postlist ul.commentlist li {
	border-top-style: solid;
	border-top-width: 1px;
	display: block;
}

#main h4 {
	position: relative;
}
#main .actions {
	position: absolute;
	right: 2px;
	top: 0;
}
.single-action-links {
	display: none;
}
.bottom-of-entry {
	display: block;
	margin-bottom: 1px;
	overflow: hidden;
	width: 100%;
	height: 9px;
}
.page-nav {
	clear: both;
}
h2 img {
	vertical-align: middle;
	margin-right: 12px;
}
#main p img {
	vertical-align: top;
	padding: 2px;
	border-style: solid;
	border-width: 1px;
	display: block;
}
.attachment #main .entry .attachment-image {
	margin: .7em 0;
	text-align: center;
}
#main .attachment-image img {
	display: block;
	margin: 0 auto;
}
.discussion p img {
	display: inline !important;
}
#main p img.latex {
	display: inline-block;
}
#main p {
	margin: .7em 0;
}
#main ul, #main ol {
	margin-left: 18px;
}
#main ul.commentlist {
	border-top: 0;
	list-style: none;
	margin-top: 0;
	margin-left: 60px;
}
#main ul.commentlist li {
	list-style: none;
}
#main ul.commentlist .commentcontent ul li,
#main ul.commentlist .commentcontent ol ul li {
	list-style: disc;
}
#main ul.commentlist .commentcontent ol li {
	list-style: decimal;
}
#main ul.commentlist img.avatar {
	margin-right: 12px;
}
#main ul#postlist .postcontent ul, #main ul#postlist .postcontent ol,
#main ul#postlist .commentlist .commentcontent ul, #main ul#postlist .commentlist .commentcontent ol {
	border: none;
	border-width: 0;
	border-style: none;
	border-top-style: none;
	border-top-width: 0;
	overflow: visible;
	padding-top: 0;
}
.postcontent ul, .postcontent ol, .commentcontent ul, .commentcontent ol {
	margin: 10px 0 22px 20px !important;
}
.postcontent ul ul, .postcontent ul ol, .postcontent ol ol, .postcontent ol ul, .commentcontent ul ul, .commentcontent ul ol, .commentcontent ol ol, .commentcontent ol ul {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
#main ul#postlist .postcontent li, #main ul#postlist .commentlist .commentcontent li {
	border: none;
	border-width: 0;
	border-style: none;
	border-top-style: none;
	border-top-width: 0;
}
#main ul#postlist .postcontent ul li,
#main ul#postlist .commentlist .commentcontent ul li,
#main ul#postlist .postcontent ol li,
#main ul#postlist .commentlist .commentcontent ol li {
	display: list-item;
	padding: 2px 0 0;
}
#main form {
	margin-top: 10px;
}
#main input {
	margin: 4px 0;
}
#respond {
	overflow: hidden;
	position: relative;
}
#postpage #respond {
	width: 70%;
	margin-bottom: 20px;
	margin-left: 72px;
}
#main #respond, .textedit {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 10px;
	margin-left: 60px;
	padding: 14px 16px 12px;
}
.textedit {
	margin-left: 0;
}
#main .commentlist #respond.replying {
	margin-left: 44px;
}
#main .commentlist li #respond.replying {
	margin-left: 93px;
}
#respond textarea, .textedit textarea {
	max-width: 94%;
	width: 94%;
	padding: 6px;
	border-width: 1px;
	border-style: solid;
}
#postpage #respond p {
	margin-right: 0;
}
#respond p, li ul #respond p {
	float: right;
	margin-right: 10%;
	padding-right: 5px;
	margin-top: 5px;
}
#respond p.form-submit, li ul #respond p.form-submit {
	float: none;
	display: inline;
	margin-right: 0;
}
#respond p label {
	color: #888;
	font-size: 12px;
}
#respond p.comment-form-author, #respond p.comment-form-email, #respond p.comment-form-url {
	float: left;
	width: 30%;
	margin-right: 1.11%;
}
#respond p.comment-form-author input, #respond p.comment-form-email input, #respond p.comment-form-url input {
	width: 90%;
}
#postpage li ul #respond p {
	margin-right: 5%;
}
#postpage #respond textarea {
	width: 96%;
}
#postpage li ul #respond textarea {
	width: 94% !important;
}
.commentcontent {
	overflow: auto;
}
.commentlist {
	margin-bottom: 5px;
}
.commentlist .children {
	margin: 0 !important;
}
.commentlist .children li {
	list-style: none;
	padding: 0 0 5px;
	position: relative;
	height: 1%;
	margin-left: 47px;
}
.commentlist .children li li {
	height: 1%;
}
.rss {
	float: right;
	background: url(i/feed.png) bottom left no-repeat;
	padding-left: 14px;
	padding-top: 4px;
}
.allrss {
	background: url(i/feed.png) center left no-repeat;
	padding-left: 14px;
}
h2 .rss {
	float: none;
	background: url(i/feed12x12.png) bottom left no-repeat;
	padding-top: 0;
	padding-left: 16px;
	text-indent: -1000em;
	display: inline-block;
	height: 1em;
}
h2 a.rss:hover {
	border: none;
}
.sleeve_main {
	margin-right: 242px;
	width: auto;
}
#sidebar {
	margin-left: -1px;
	float: right;
	width: 212px;
	position: relative;
	top: 0;
	padding: 6px 12px 18px 12px;
}
#sidebar h2 {
	margin-top: 5px;
	margin-bottom: 6px;
}
#sidebar ul li p {
	margin-bottom: 1.5em;
}
#sidebar a:hover {
	border-bottom: none;
}
#sidebar ul {
	list-style: none;
	margin-bottom: 22px;
}
#sidebar ul ul {
	margin-bottom: 0px;
}
#sidebar ul li {
	clear: both;
	padding: 4px 0 24px;
}
#sidebar ul li.widget {
	overflow: hidden;
	word-wrap: break-word;
}
#sidebar ul li ul li {
	padding-bottom: 4px;
	padding-right: 6px;
}
#sidebar ul li ul li ul {
	margin-left: 10px;
}
#sidebar ul li#authors ul ul {
	margin: 4px 0;
}
#sidebar ul li#authors .avatar {
	vertical-align: middle;
}
#recent-comments tr {
	overflow: hidden;
}
#recent-comments td {
	vertical-align: top;
	padding-top: 4px;
}
.widget_authors strong {
	padding-left: 6px;
}
#searchform div {
	height: 2em;
	clear: both;
	margin-bottom: 2px;
}
#searchform input {
	float: left;
	margin-top: 5px;
}
#searchform #s {
	width: 57%;
}
#searchform #searchsubmit {
	width: 30%;
}
.error404 #main #searchform div,
.search #main #searchform div {
	clear: none;
}
.error404 #main #searchform #s,
.search #main #searchform #s {
	width: 33%;
}
.error404 #main #searchform #searchsubmit,
.search #main #searchform #searchsubmit {
	width: auto;
}
.error404 #main #searchform label,
.search #main #searchform label {
	display: none;
}
#wpstats {
	margin: 20px auto;
	display: block;
	text-align: center;
}
#main ul#postlist, #main .post ul {
	overflow: hidden;
	list-style: none;
	margin-top: 0px;
}
#main ul#postlist ul, #main .post ul {
	list-style: disc;
}
#main ul#postlist ul ul, #main ul#postlist ol ul, #main .post ul ul, #main .post ol ul {
	margin-top: 0;
}
#main ol, #main .post ol {
	list-style: decimal;
	margin-left: 18px;
	margin-top: 16px;
	padding-left: .75em;
}
#main ol ol, #main .post ol ol {
	margin-top: 0;
}
img.wp-smiley {
	display: inline !important;
	vertical-align: middle !important;
	padding: 0 0 0 3px !important;
	margin: 0 !important;
}
img.centered, img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	clear: none;
}
img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption, .gallery-icon {
	margin-bottom: 18px;
}
.wp-caption a:hover {
	border: none;
}
.gallery {
	display: block !important;
	margin: 0 !important;
	padding: 0 0 1.5em 0 !important;
}
body .gallery br {
	display: none;
	clear: none !important;
}
.gallery-icon {
	width: auto !important;
	margin-bottom: 4px;
	padding: 4px;
}
.gallery-icon img {
	border-style: solid;
	border-width: 1px;
	padding: 4px 4px 0;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
}
.gallery-icon a:hover {
	border: none;
}
.gallery-icon img.attachment-thumbnail {
	border: none !important;
	padding: 0;
}
.gallery-caption {
	clear: both;
	padding: 4px;
}
.gallery-item {
	display: inline-block !important;
	padding-bottom: 1px;
	margin: 0 auto !important;
	float: none !important;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: none;
}
.wp-caption p.wp-caption-text {
	padding: 0 7px;
	margin: 0;
}
.liveupdates {
	min-height: 30px;
	margin: 0 0 10px;
	padding: 0 5px;
	display: none;
}
a.hidemessage {
	display: block;
	float: left;
}
.ac_results {
	margin: -1px 0 0;
	list-style: none;
	position: absolute;
	z-index: 10000;
	display: none;
	border-style: solid;
	border-width: 1px;
}
.ac_results li {
	padding: 4px 8px;
	white-space: nowrap;
	text-align: left;
}
.ac_over {
	cursor: pointer;
}
.post-error {
	width: 608px;
	padding-bottom: 10px;
}
#respond p.logged-in-as, #respond p.must-log-in, #respond p.comment-notes {
	position: absolute;
	top: 10px;
	right: 0;
	margin-right: 5%;
}
.progress {
	bottom: 23px;
	padding-left: 10px;
	position: absolute;
	left: 37px;
	width: 20px;
	display: none;
}
#respond .progress {
	left: 77px;
}
#tooltip {
	position: absolute;
	border-style: solid;
	border-width: 1px;
	padding: 2px 5px;
	display: none;
}
#newCommentsIndicator {
	position: absolute;
	left: 0;
	top: 300px;
	border-style: solid;
	border-width: 2px;
}
li.newupdates, li.newcomment {
	display: none;
}
#settings {
	float: left;
	padding: 22px 22px 0;
	width: 176px;
}
#help, #notify {
	position: fixed;
	z-index: 10000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: none;
	padding: 30px;
}
#help {
	top: 50%;
	width: 50%;
	left: 50%;
	margin: -10% 0 0 -25%;
}
#notify {
	top: 90%;
	width: 20%;
	left: 50%;
	margin: -10% 0 0 -10%;
}
#help dl {
	margin: 0;
	padding: 0;
}
#help dd, #help dt {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
#help dt {
	width: 25%;
	padding-right: 5%;
	clear: left;
}
#help dd {
	width: 70%;
}
#userpage  ul {
	padding-top: 10px;
	clear: left;
}
#postpage h2.title {
	text-indent: -1000em;
	height: 1px;
	margin: 0;
	padding: 0;
}
#postpage li li h4 {
	margin-top: 0;
}
.postcontent {
	overflow: visible;
	padding-left: 60px;
}
.page .postcontent {
padding-left: 0;
}
#postpage #main ul#postlist, #postpage #main ul#postlist li {
	border-width: 0;
	margin-top: 0;
	padding-top: 0;
}
#postpage #main ul#postlist li ul li {
	border-width: 1px 0 0;
	margin-top: 0;
	padding-top: 14px;
}
.postcontent h1, .commentcontent h1,
.postcontent h2, .commentcontent h2,
.postcontent h3, .commentcontent h3,
.postcontent h4, .commentcontent h4,
.postcontent h5, .commentcontent h5,
.postcontent h6, .commentcontent h6 {
	margin-top: .3em;
	margin-bottom: .3em;
	padding: 5px 0;
}
.no-posts {
	padding: 2em !important;
}
div.entry {
	margin-right: 248px; /* compensate for sidebar */
	height: auto;
}
.attachment div.entry {
	margin-right: 0;
}
.navigation {
	clear: both;
	overflow: hidden;
}
.navigation p {
	float: left;
	width: 50%;
}
.navigation p.nav-newer {
	float: right;
	text-align: right;
}
.attachment .navigation {
	border-top: 0;
	clear: left;
	margin-bottom: 20px;
}
.discussion p img {
	padding: 0 !important;
	border: none !important;
	margin-right: 0 !important;
}
.discussion p {
	margin-bottom: 0;
}
.p2-recent-comments .avatar {
	margin-right: 8px;
	margin-bottom: 4px;
}
#post-types {
	margin-left: 60px;
	margin-bottom: 10px;
}
#post-types li {
	display: inline;
}
#post-types li a {
	border-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	padding: 4px 6px 4px 24px;
	border-color: #eee;
	border-top-color: #f5f5f5;
	border-left-color: #f5f5f5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fafafa;
}
#post-types li a:active {
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	background-color: #eee;
}
#post-types li a.selected {
	cursor: default;
}
#post-types li a {
	background-image: url(i/post-types.png);
	background-position: 4px center;
	background-repeat: no-repeat;
}
#post-types #post {
	background-position: -196px center;
}
#post-types #quote {
	background-position: -396px center;
}
#post-types #link {
	background-position: -596px center;
}
.discussion p a img {
	padding: 0 !important;
	border: none !important;
	margin-right: 0 !important;
}
.discussion p {
	margin-bottom: 0;
}
.discussion img.avatar {
	float: none !important;
	padding: 0 !important;
	border: none !important;
	margin: 0 !important;
}
.inlineediting .row2 {
	text-align: right;
}
.inlineediting .tags {
	float: left;
}
.inlineediting .buttons img {
	vertical-align: middle;
}
#main .inlineediting .buttons button {
	margin: 0 0 0 10px;
}

/*
#
# COLORS
#
*/

body {
	background: #f1f1f1;
}
a, a:visited, h1 a:visited, a:active, #main .selected .actions a, #main .selected .actions a:link, #main .selected .actions a:visited, #help dt {
	color: #3478e3;
}
a:hover, h1 a:hover, #main .selected .actions a:hover, #main .selected .actions a:active {
	color: #d54e21;
}
a:hover {
	border-bottom-color: #bbb;
}
acronym {
	border-bottom-color: rgb(85, 85, 85);
}
code {
	background: #f1f1f1;
}
.category-quote blockquote p,
.format-quote blockquote p {
	color: #888;
	background: #eee;
	text-shadow: 0 1px 0 #fff;
}
h2 {
	color: #555;
}
h3 {
	color: #777;
}
#postlist h4 {
	border-bottom-color: #f0f0f0;
}
#main img.avatar {
	border-color: #ccc;
}
#main #postlist li {
	border-top-color: #bbb;
}
#main #postlist li.inlineediting {
	border-top: 0;
}
#main #postlist .commentlist li {
	border-top-color: #ddd;
}
#main #postlist .commentlist li.bypostauthor {
	border-top-color: #b3c4df;
}
#header .sleeve {
	background: #fff;
}
#header small {
	color: #888;
}
#footer {
	background: #fff;
	border-color: #fff;
}
#footer p {
	color: #777;
}
#wrapper {
	background: #fff;
	border-color: #fff;
}
#postbox .avatar img {
	border-color: #ccc;
}
#postbox textarea#posttext, textarea.posttext {
	background: #fafafa;
	border-color: #d1d1d1;
	color: #666;
}
#wrapper form input[type="text"],
.inlineediting input[type="text"] {
	border-color: #d1d1d1;
	background: #fafafa;
	color: #666;
}
#sidebar form input[type="text"] {
	background: #fff;
}
#postbox label {
	color: #444;
	float: left;
}
#wrapper button, #wrapper input[type="submit"] {
	border-color: #ccc;
	background: #F2F2F2 url(./i/white-grad.png) repeat-x;
	color: #333;
	text-shadow: 0 1px 0 #fff;
}
#wrapper button:active, #wrapper input[type="submit"]:active {
	background: #eee url(./i/white-grad-active.png) repeat-x scroll left top;
}
.disabled, .disabled:hover {
	color: #eee !important;
	background: #ddd !important;
	border-color: #ccc;
}
.disabled, .disabled:hover {
	color: #eee !important;
	background: #ddd !important;
	border-color: #ccc;
}
#main .actions, #main .actions a, #main .actions a:link, #main .actions a:visited, #main .actions a:hover, #main .actions a:active,
#main .keyselected .actions, #main .keyselected .actions a, #main .keyselected .actions a:link, #main .keyselected .actions a:visited, #main .keyselected .actions a:hover, #main .keyselected .actions a:active,
#main .selected ul li .actions, #main .selected ul li .actions a, #main .selected ul li .actions a:link, #main .selected ul li .actions a:visited, #main .selected ul li .actions a:hover, #main .selected ul li .actions a:active {
	color: #ccc;
}
#media-buttons {
	color: #999;
}
.postcontent {
	color: #555;
}
#main p img {
	border-color: #eee;
	max-width: 98%;
	height: auto;
}
#main p, #main ul, #main ol {
	color: #555;
}
#main #respond, .textedit {
	background: #f1f1f1;
}
#respond textarea, .textedit textarea {
	border-color: #ccc;
}
#main span.meta {
	color: #888;
}
.sleeve_main {
	background: #fff;
}
#sidebar {
	color: #555;
}
#sidebar ul {
	color: #888;
}
.wp-caption, .gallery-icon {
	border-color: #ddd;
	border-color: rgba(255,255,255,0);
	background: #fff;
	text-shadow: 0 1px 0 #fff;
}
.liveupdates {
	color: #464646;
	background: #E4F2FD;
}
.ac_results {
	border-color: #ccc;
	background: rgba(255, 255, 255, 0.95);
}
.ac_over {
	color: #fff;
	background: #3478e3;
}
.post-error {
	color: red !important;
}
#tooltip {
	background: #eee;
	color: #333;
}
.hilite {
	color: #fff;
	background: #f93;
}
#newCommentsIndicator {
	border-color: #f00;
}
li.newupdates, li.newcomment {
	background-color: #F6F3D1;
}
.repyling .post .comment {
	background: transparent;
}
#help, #notify {
	background: #000;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter: alpha(opacity=70);
	color: #fff;
}
.navigation {
	border-top: 1px solid #bbb;
}
.keyselected {
	background-color: #eee !important;
}
#searchsubmit:hover, #submit:hover, input#comment-submit:hover {
	border-color: #555;
}
.discussion p {
	color: #888 !important;
}
.discussion p a {
	color: #888;
	border-bottom: 1px solid #ddd;
}
#post-types li a.selected {
	background-color: #f0f0f0 !important;
	color: #555;
}
#wrapper {
	background: #fff url( i/sidebar_back.gif ) top right repeat-y;
	border: 1px solid #fff;
}
.sleeve_main {
	background: transparent;
}
#main {
	background: #fff;
}

/*
#
# FONTS
#
*/
body, form *, #respond #cancel-comment-reply-link, input, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
#postbox label,
#help dd,
.inlineediting input.title {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}
code, pre {
	font-family: Monaco, Consolas, "Courier New", monospace;
}
html {
	font-size: 100%;
}
body {
	font-size: 62.5%;
}
strong {
	font-weight: bold;
}
em, cite {
	font-style: italic;
}
code, pre {
	font-size: 1em;
}
dt {
	font-weight: bold;
}
.category-quote blockquote p,
.format-quote blockquote p {
	font-size: 1.2em !important;
}
.category-quote blockquote cite,
.format-quote blockquote cite {
	display: block;
	text-align: right;
}
.category-quote blockquote cite:before,
.format-quote blockquote cite:before {
	content: "— ";
}
h1 {
	font-size: 4em;
	line-height: 1em;
}
#header small {
	font-size: 1.3em;
	line-height: 1.2em;
}
h2 {
	font-size: 2em;
	font-weight: normal;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
}
h4, h5, h6 {
	font-weight: 500;
}
.postcontent h4, h5, h6 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#footer p {
	font-size: 1.3em;
}
#main {
	font-size: 1.3em;
}
#postbox {
	font-size: 14px;
}
#postbox .inputarea {
	font-size: 12px;
}
#postbox textarea#posttext, textarea.posttext {
	font-size: 13px;
}
#wrapper form input[type="text"],
.inlineediting input[type="text"] {
	font-size: 13px;
	line-height: 16px;
}
#postbox label {
	font-weight: normal;
	font-size: 1.6em;
}
#main button, #main input[type="submit"], #postbox input[type="submit"], #postbox button {
	line-height: 27px;
	font-size: 13px;
	font-weight: bold;
}
#main .controls {
	font-size: 12px;
	text-align: right;
	line-height: 3em;
}
#main h4 {
	font-size: 1em;
	line-height: 1.2em;
	margin-left: 55px;
}
#main .inlinecomments h4 {
	margin-left: 37px;
}
#main .inlinecomments .pingback h4 {
	margin-left: 0;
}
#main h4 a {
	font-weight: bold;
}
#main h4 span a {
	font-weight: normal;
}
#main .inlineediting h4 {
	display: none;
}
.postcontent h1 {
	display: block;
	font-size: 2em;
	font-weight: 500;
	padding: 10px 0 5px;
}
#main .postcontent h2,
.inlineediting input.title {
	font-size: 1.8em;
	font-weight: 500;
}
#main .postcontent h2 {
	padding: 10px 0 5px;
}
.postcontent h3 {
	color: #555;
	font-size: 1.6em;
	font-weight: 500;
}
#main .postcontent h4 {
	font-size: 1.4em;
	margin-left: 0;
}
.postcontent h5 {
	font-size: 1.3em;
}
.postcontent h6 {
	font-size: 1.2em;
}
#main p, #main ul, #main ol {
	font-size: 1em;
	line-height: 1.4em;
}
#respond #cancel-comment-reply-link {
	font-weight: normal;
}
#respond h3 small {
	font-weight: normal;
	font-size: 11px;
}
#main p.logged-in-as, #main p.must-log-in, #main p.comment-notes {
	font-size: 11px;
}
#respond textarea, .textedit textarea {
	font-size: 12px;
}
#main span.meta {
	font-size: 0.85em;
}
#main .meta abbr {
	border: none;
	cursor: default;
}
#main .meta em {
	font-style: normal;
}
#main p.meta {
	font-size: 1em;
}
#sidebar h2 {
	font-weight: normal;
	font-size: 1.7em;
}
#sidebar ul li p {
	line-height: 1.4em;
}
#sidebar ul {
	font-size: 1.1em;
}
#sidebar ul li {
	font-size: 1em;
}
#sidebar ul li ul li ul {
	font-size: 1em;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
}
.liveupdates {
	line-height: 30px;
}
.ac_results {
	font-size: 1.2em;
}
.ac_match {
	text-decoration: underline;
}
form.textedit textarea {
	font-size: 12px;
	line-height: 12px;
}
#notify {
	top: 90%;
	width: 20%;
	left: 50%;
	margin: -10% 0 0 -10%;
	font-size: 1.8em;
	text-align: center;
}
#help dl {
	font-size: 2.8em;
}
#help dt {
	text-align: right;
}
#postpage h2.title {
	line-height: 1px;
	font-size: 1px;
}
#post-types li {
	font-size: 0.9em;
}

/* to reorganize */
.invisible {
	height: 1px;
	font-size: 1px;
	text-indent: -1000em;
	width: 1px;
	position: absolute;
	top: 0;
	left: 0;
}
.postcontent table {
	border: 1px solid #ccc;
	border-width: 0 1px 1px 0;
	border-spacing: 0;
	margin-bottom: 1.5em;
}
.postcontent table td {
	border: 1px solid #ccc;
	border-width: 1px 0 0 1px;
	padding: 3px 5px;
}
.postcontent table tr {
	border: 0;
	border-width: 0;
}
.postcontent table ul,.postcontent table ol,.postcontent table p,.postcontent table blockquote {
	margin-top: 0 !important;
	margin-bottom: 1.6em !important;
}
.mention-highlight {
	background-color: #DEEE66;
}
a.mention-current-user {
	background: #efefef;
	border: 1px solid #ddd;
	border-top: none;
	border-left: none;
	border-radius: 4px;
	color: #3478e3;
	font-weight: bold;
	margin: 0 2px;
	padding: 0 3px;
	text-shadow: 0 1px 0 #fff;
}
a.mention-current-user:hover {
	background: #3478e3;
	border-color: #3478e3;
	box-shadow: 0 1px 1px #ddd;
	color: #fff;
	text-shadow: 0 1px 0 #333;
}
.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
div.possibly-related {
	clear:left;
}
#main #wpl-likebox {
	padding-left: 60px !important;
}
#wpl-mustlogin {
	margin-left: -60px !important;
}
.sticky {
	background-color: #e4f2fd;
	border: 1px solid #d9e1e7 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px rgba(85, 88, 90, 0.3);
	-moz-box-shadow: 0px 1px 3px rgba(85, 88, 90, 0.3);
	box-shadow: 0px 1px 3px rgba(85, 88, 90, 0.3);
	margin: 10px 0;
	padding: 10px !important;
}
.screen-reader-text {
	position: absolute;
	left: -1000em;
}

/* =Network signup form
-------------------------------------------------------------- */
#content .mu_register {
	color: #999;
	margin: 0;
}
#content .mu_register input[type="submit"] {
	width: 10%;
}
#content .mu_register label {
	color: #111;
	display: block;
	font-weight: normal;
	margin: 15px 0 0;
}

/* Santa completeness */

.ui-menu.ui-autocomplete {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-o-border-bottom-left-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-radius: 0 0 4px 4px;
	border-top: none;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

.ui-menu.ui-autocomplete .avatar {
	margin: 0 .3em 0 0;
	width: 22px;
	height: 22px;
	vertical-align: middle;
}

.ui-menu .ui-menu-item a {
	padding: 3px 4px !important;
	position: relative;
	background: none !important;
}

.ui-menu .ui-menu-item:last-child .ui-state-hover,
.ui-menu .ui-menu-item:last-child {
	border-radius: 0 0 3px 3px;
}

.ui-menu li.ui-menu-item {
	background: none !important; /* Overriding inline nth-child(2n+1) rule */
}

.ui-menu .ui-menu-item:nth-child(2n+1) a {
	background: #D9E8FF !important; /* Applies rule again */
	border-color: #D9E8FF;
}

.ui-menu .ui-menu-item a.ui-state-hover {
	padding: 6px 7px !important;
	margin: -3px;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	background: #fff;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.45);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.45);
	box-shadow: 0 1px 5px rgba(0,0,0,.45);
	background: #3478E3 !important; /* !important needed - overules previous changes on hover/focus */
	z-index: 5;
	color: #fff !important;
}

.ui-menu-item strong {
	font-weight: normal;
	background: #F5E749;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 1px 2px 2px;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.ui-menu .ui-menu-item a.ui-state-hover strong {
	background: #fff;
	color: #000;
}
/* end Santa carnage */


/* =WP.com Specific Styles
--------------------------------------------------------- */

.milestone-widget .milestone-content {
	max-width: 210px;
}
.milestone-widget .milestone-countdown {
	border-color: #ccc;
}
.milestone-widget .difference {
	padding-top: 15px;
}