/*
Theme Name: Imbalance 2
Theme URI: http://www.wpshower.com/
Description: A theme designed in strict modern style with a minimalistic touch. Imbalance 2 can easily turns your blog to an attractive blog, a portfolio or even an online magazine. It supports both fixed and fluid layouts. Also it allows you to choose a theme color.
Author: WPShower
Author URI: http://www.wpshower.com/
Version: 1.0.3-wpcom
License: GNU General Public License
License URI: license.txt
Tags: white, light, one-column, four-columns, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, translation-ready, art, artwork, blog, craft, design, fashion, journal, magazine, news, portfolio, professional, artistic, bright, clean, contemporary, elegant, geomtric, light, minimal, modern, simple, sophisticated
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details,figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}


/* =Clear
-------------------------------------------------------------- */

.clear {
	clear:both;
	display:block;
}
.clear-fix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}


/* =Structure
-------------------------------------------------------------- */

body {
	padding: 15px 0;
}
#wrapper {
	background-color: #fff;
	padding: 20px 20px 0 20px;
}
#boxes {
	clear: both;
	margin: 0;
	padding-top: 40px;
}
#content {
	padding: 0 0 20px 0;
}
#featured-posts {
	border-top: 1px solid #ccc;
	margin-top: 40px;
	padding-top: 40px;
}
#footer {
	border-top: 1px solid #dedfe0;
	padding: 30px 0 50px;
}
/* Full width */
.one-column .post_title h1,
.one-column .post_title h2 {
	margin: 0 0 10px 0;
	width: 100%;
}
.one-column .entry-content {
	margin-left: 0;
	width: 100%;
}
.one-column #comments {
	padding: 0 0 0 96px;
	width: 864px;
}
body.page .one-column .entry-meta {
	margin-left: 0;
}


/* =Global
-------------------------------------------------------------- */

body {
	position: relative;
}
body,
input,
textarea {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 21px;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: bold;
	line-height: 21px;
	margin-bottom: 21px;
}
h1 {
	font-size: 21px;
}
h2 {
	font-size: 19px;
}
h3 {
	font-size: 17px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 13px;
	text-transform: uppercase;
}
h6 {
	font-size: 12px;
	text-transform: uppercase;
}
hr {
	background-color: #dedfe0;
	border: 0;
	height: 1px;
	margin-bottom: 20px;
}
/* Text elements */
p,
dd,
pre {
	margin-bottom: 21px;
}
ul,
ol {
	margin: 0 0 21px 18px;
}
ul {
	list-style: disc;
}
ol {
	list-style-type: decimal;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 21px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 21px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
blockquote {
	border-left-style: solid;
	border-left-width: 3px;
	color: #636363;
	font-size: 16px;
	margin: 0 0 0 7px;
	padding: 0 0 0 20px;
}
blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}
blockquote cite {
	font-size: 13px;
	font-weight: bold;
}
pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 21px;
	margin-bottom: 21px;
	overflow-x: scroll;
	padding: 0.75em 1.6923em;
}
code,
kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym,
dfn {
	border-bottom: none;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 21px;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
/* Links */
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: 0;
}
/* Alignment */
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Sticky */
.sticky {
}
/* Separators */
.main-separator {
	color: #dedfe0;
}
.box .categories .main-separator,
.box .posted .online .main-separator {
	display: none;
}
/* Nav */
#nav-above {
	color: #636363;
	float: left;
	padding-right: 40px;
	text-align: right;
	width: 210px;
}
#nav-above a {
	color: #333;
	text-decoration: none;
}
.nav-previous,
.nav-next {
	display: inline;
}
.nav-separator {
	color: #e5e5e5;
}
/* Fetch */
.fetch {
	background: #f9f9f9;
	border-radius: 4px;
	clear: both;
	margin: 0 auto 40px;
	text-align: center;
	width: 460px;
}
.fetch a {
	color: #333;
	display: block;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
}
.fetch:hover a {
	color: #fff;
}


/* =Forms
-------------------------------------------------------------- */

input[type=text],
input[type=password],
textarea {
	background: #fff;
	border-radius: 4px;
	border: 1px solid #dedfe0;
	color: #6b6b6b;
	outline: none;
	padding: 4px 9px;
}
input[type=text]:focus,
textarea:focus {
	color: #4a4a49;
}
textarea {
	width: 98%;
}
#searchform label,
#searchform input[type=submit] {
	display: none;
}
.widget_search input[type=text] {
	margin: 0 0 0 -10px;
	padding: 4px 9px;
	width: 200px;
}
#page_search input[type=text] {
	width: 70%;
}
#page_search input[type=submit] {
	display: none;
}


/* =Header
-------------------------------------------------------------- */

#header {
	border-bottom: 1px solid #dedfe0;
	padding-bottom: 50px;
}
#branding {
	float: left;
	margin: 0 40px 0 0;
	min-height: 170px;
	position: relative;
	width: 210px;
}
#site-title {
	font-size: 23px;
	line-height: 27px;
	margin: 0 0 7px 0;
	position: relative;
	z-index: 11;
}
#site-title a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	color: #9d9d9d;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	margin: 0;
	position: relative;
	z-index: 11;
}
#header-left {
	float: left;
	padding-right: 40px;
	width: 210px;
}
#header-center {
	float: left;
	padding-right: 30px;
	width: 210px;
}
#header-right {
	float: right;
	width: 210px;
}
#header-image {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 10;
}
#header-image-link {
	display: block;
	height: 210px;
	left: 0;
	position: absolute;
	top: 0;
	width: 210px;
}


/* =Menu
-------------------------------------------------------------- */

.menu ul {
	list-style-type: none;
	margin: 0;
}
.menu ul li {
	background-color:rgba(255,255,255,0.8);
	line-height: 15px;
	position: relative;
}
.menu ul a {
	color: #303030;
	display: block;
	padding: 0 0 9px 0;
	text-decoration: none;
}
.menu ul ul {
	display: none;
	left: 210px;
	position: absolute;
	top: 0;
	width: 210px;
	z-index: 99999;
}
.menu ul ul li {
	border: none;
}
.menu ul li:hover > ul {
	display: block;
}


/* =Box
-------------------------------------------------------------- */

.box {
	color: #636363;
	line-height: 1.2em;
	margin-bottom: 70px;
	width: 210px;
}
.abs {
	width: 210px;
}
.box .rel {
	position: relative;
}
.box .rel p {
	margin: 0;
}
.box .texts {
	color: #fff;
	filter: alpha(opacity=0);
	left: -20px;
	opacity: 0;
	position: absolute;
	top: -20px;
	width: 210px;
	z-index: 200;
}
.box .texts .categories a,
.box .texts a,
.box .texts .posted,
.box .texts .posted a {
	color: #fff;
}
.box .texts .transparent img {
	filter: alpha(opacity=10);
	opacity: 0.1;
}
.box .texts .abs {
	position: absolute;
	top: 0;
}
.box .categories {
	padding: 0 0 10px 0;
}
.box .categories a,
.box .posted a {
	color: #a1a1a1;
}
.box h1 {
	font-size: 16px;
	line-height: 1.2em;
	margin: 0;
	padding: 0 0 10px 0;
	word-wrap: break-word;
}
.box h1 a {
	color: #333;
}
.box .posted {
	color: #a1a1a1;
	padding: 10px 0 0 0;
}
.box img {
	display: block;
}
.box .attachment-homepage-thumb {
	margin: 0 0 15px 0;
}


/* =Content
-------------------------------------------------------------- */

.post_title {
	margin-top: 35px;
	overflow: hidden;
}
.post_title h1,
.post_title h2 {
	font-size: 27px;
	line-height: 35px;
	margin: 0 0 10px 250px;
	width: 710px;
}
.entry-title,
.page-title {
	font-size: 24px;
	margin: 35px 0 0 250px;
}
p.page-title {
	font-size: 13px;
}
.entry-meta {
	color: #636363;
	overflow: hidden;
	padding: 0 0 30px 0;
}
.entry-meta a {
	color: #333;
	text-decoration: none;
}
body.page .entry-meta {
	margin: 0 0 0 250px;
}
.entry-content {
	font-size: 15px;
	line-height: 21px;
	margin: 0 0 0 250px;
	width: 710px;
}
.no-results .entry-content {
	margin: 21px 0 0 250px;
}
.entry-content table,
.comment-body table {
	border-bottom: 1px solid #ccc;
	margin: 0 0 20px;
	width: 100%;
}
.entry-content th,
.comment-body th {
	color: #666;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 21px;
	padding: 0 0 6px 0;
	text-transform: uppercase;
}
.entry-content td,
.comment-body td {
	border-top: 1px solid #ccc;
	padding: 6px 10px 6px 0;
}
.entry-utility {
	clear: both;
	font-size: 13px;
	padding: 10px 0;
}
.entry-tags {
	margin: 10px 0;
}
.page-link {
	clear: both;
	margin: 10px 0;
}
.page-link span,
.entry-tags span {
	font-weight: bolder;
}
/* Author Info */
#entry-author-info {
	margin: 0 0 0 250px;
	padding: 10px 0;
	width: 710px;
}
#author-avatar {
	float: left;
	margin-left: -100px;
}
.entry-content #author-avatar img {
	margin: 3px 0 0 0;
}
#author-description {
	float: left;
	font-size: 13px;
}
#author-description h3 {
	margin: 0;
}


/* =Comments
-------------------------------------------------------------- */

#comments {
	padding: 0 0 0 246px;
	width: 714px;
}
#comments-title {
	font-size: 21px;
	margin: 40px 0 20px 4px;
}
.commentlist {
	list-style: none;
	margin: 0;
	padding: 0;
}
.commentlist ul.children {
	list-style: none;
	margin: 0;
	padding: 0;
}
.commentlist li > div {
	border-bottom: 1px solid #dedfe0;
	padding: 30px 0 30px 4px;
	position: relative;
}
.commentlist li li > div {
	margin-left: 90px;
}
.commentlist li li li > div {
	margin-left: 180px;
}
.commentlist li li li li > div {
	margin-left: 270px;
}
.commentlist li li li li li > div {
	margin-left: 360px;
}
.commentlist .pingback {
	border-bottom: 1px solid #dedfe0;
	padding: 30px 0 30px 4px;
}
.commentlist .pingback p {
	margin: 0;
}
.comment-avatar {
	left: -96px;
	position: absolute;
	top: 30px;
}
.comment-content {
	border-bottom: 1px solid #dedfe0;
	margin-left: 90px;
}
.comment-author {
	float: left;
	font-size: 15px;
	padding-right: 40px;
	width: 210px;
}
.comment-meta {
	color: #999;
	float: left;
	padding-right: 40px;
	width: 210px;
}
.comment-body {
	clear: both;
	font-size: 15px;
	line-height: 21px;
	padding-top: 7px;
}
ol .comment-body ul,
ol .comment-body ol {
	margin: 0 0 21px 18px;
}
ol .comment-body ul ul,
ol .comment-body ol ol,
ol .comment-body ul ol,
ol .comment-body ol ul {
	margin-bottom: 0;
}
#comments #respond {
	padding-left: 4px;
}
li.comment > div {
	position: relative;
}
.reply {
	position: absolute;
	right: 20px;
	top: 30px;
}
#reply-title {
	font-size: 21px;
}
.comment-reply-link {
	display: none;
}
.comment-form-comment {
	clear: both;
	margin: 0;
	padding: 10px 0;
	width: 460px;
}
#comments .navigation {
	padding: 10px 0 0 4px;
}
#comments .navigation .nav-previous a {
	margin: 0 10px 0 0;
}
.commentlist li.bypostauthor > div {
	background-color: #f9f9f9;
	padding: 30px 10px 30px 14px;
}
.nopassword,
.nocomments  {
	color: #999;
	margin: 21px 0 21px 4px;
}


/* =Footer
-------------------------------------------------------------- */

#site-info {
	float: left;
	line-height: 22px;
	padding-right: 40px;
	width: 460px;
}
#site-info a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
#footer-left {
	float: right;
	padding-right: 40px;
	width: 210px;
}
#footer-right {
	float: right;
	width: 210px;
}


/* =Widgets
-------------------------------------------------------------- */

.widget {
	line-height: 24px;
	margin: 0 0 24px 0;
}
.widget p {
	line-height: 1.2em;
	margin: 0 0 15px 0;
}
.widget-title {
	font-size: 15px;
	margin: 0 0 9px 0;
}
.widget-title a {
	color: #333;
}
/* Authors Widget */
.widget_authors ul {
	margin: 0;
}
.widget_authors li {
	background: none !important;
	overflow: hidden;
}
.widget_authors {
	padding: 0 !important;
}
.widget_authors ul ul li {
	overflow: hidden;
}
.widget_authors img {
	float: left;
	margin-bottom: 10px !important;
	padding-right: 10px;
}
/* Author Grid Widget */
.widget_author_grid ul {
	margin: 0;
}
/* Calendar Widget */
.widget_calendar #wp-calendar {
	text-align: center;
	width: 100%;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
}
.widget_calendar #wp-calendar caption {
	padding: 0 0 10px 0;
	text-align: left;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	font-weight: bold;
}
.widget_calendar #wp-calendar tfoot #prev {
	padding: 8px 0 0 0;
	text-align: left;
}
.widget_calendar #wp-calendar tfoot #next {
	padding: 8px 0 0 0;
	text-align: right;
}
 /* Cloud Widgets */
.wp_widget_tag_cloud div,
.widget_tag_cloud div {
 	word-wrap: break-word;
}
/* Flickr Widget (WP.com) */
.widget_flickr #flickr_badge_uber_wrapper a:hover {
	text-decoration: underline !important;
}
.widget_flickr #flickr_badge_wrapper {
	background-color: transparent !important;
	border: none !important;
}
.widget_flickr table {
	margin: 0 !important;
}
.widget_flickr .flickr-size-thumbnail {
	margin: 0 auto;
}
.widget_flickr .flickr-size-thumbnail br,
.widget_flickr .flickr-size-small br {
	display: none;
}
.widget_flickr .flickr-size-thumbnail img {
	display: block;
	margin-bottom: 10px;
}
.widget_flickr .flickr-size-small img {
	display: block;
	margin-bottom: 10px;
	max-width: 100%;
}
/* Image Widget */
.widget_image p {
	margin: 0;
}
/* Recent Comments Widget */
.widget_recent_comments .avatar {
	max-width: none;
}
.widget_recent_comments td.recentcommentstexttop,
.widget_recent_comments td.recentcommentstextend {
	line-height: 1.1em;
	vertical-align: top;
}
/* RSS Widget */
.widget_rss {
	line-height: 1.2em;
}
.widget_rss li {
	margin: 0 0 10px 0;
}
.widget_rss .rssSummary {
	line-height: 1.2em;
}
/* RSS links Widget */
.widget_rss_links p img {
	margin-bottom: 0;
	vertical-align: middle;
}
.widget-area .widget-gravatar-profile h4 {
	font-size: 1.0em;
	font-weight: bold;
	margin: 0;
}
.widget-area .widget-gravatar-profile .gravatar-profile-accounts li a,
.widget-area .widget-gravatar-profile .gravatar-profile-accounts li a:visited{
	padding: 3px 0;
}
/* Text Widget */
.widget_text,
.widget_text p {
	line-height: 1.2em;
}
/* Twitter Widget */
.widget_twitter {
	line-height: 1.2em;
}
.widget_twitter li {
	margin: 0 0 10px 0;
}

/* =Images, wp-captions and other medias
-------------------------------------------------------------- */

.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}
img.size-full,
img.size-large {
	max-width: 100%;
	width: auto;
	height: auto;
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft,
.wp-caption.alignleft {
	margin: 5px 20px 21px 0;
}
img.alignright,
.wp-caption.alignright {
	margin: 5px 0 21px 20px;
}
img.aligncenter,
.wp-caption.aligncenter {
	margin: 5px auto 21px;
}
p img,
.wp-caption {
}
.wp-caption {
	background: #eee;
	margin-bottom: 21px;
	max-width: 97.5%;
	padding: 9px;
}
.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	color: #666;
	font-size: 12px;
	margin: 0;
}
.wp-caption .wp-caption-text {
	padding: 10px 0 5px 40px;
	position: relative;
}
.wp-caption .wp-caption-text:before {
	content: '\2014';
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	margin-right: 5px;
	position: absolute;
	left: 10px;
	top: 7px;
}
embed,
iframe,
object {
	max-width: 100%;
}
.embed-vimeo {
	margin: 0 0 21px 0;
}


/* =WP.com
-------------------------------------------------------------- */

#wpstats {
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 999;
}
